/* Write your CSS here */
.Team-matches-container {
  padding: 10px;
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.latest-matches-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  align-self: flex-start;

  padding-left: 220px;
  font-size: 16px;
  color: white;
  font-family: 'Bree Serif';
}
.match-card-big-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  width: 1250px;
  margin-right: 10px;
}
.red-background {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}
.navyBlue-red {
  background-image: linear-gradient(to bottom, #000080, #d91c1f);
}
.red-gold {
  background-image: linear-gradient(to bottom, #d91c1f, gold);
}
.purple-gold {
  background-image: linear-gradient(to bottom, purple, gold);
}
.blue-orange {
  background-image: linear-gradient(to bottom, blue, orange);
}
.blue-yellow {
  background-image: linear-gradient(to bottom, blue, yellow);
}
.blue-gold {
  background-image: linear-gradient(to bottom, blue, gold);
}
.red-lightGray {
  background-image: linear-gradient(to bottom, red, #d3d3d3);
}
